.Subscribe-button{

  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer; 
  margin-left: 8px;
  transition: 0.15s;
}

.Subscribe-button:hover{
  opacity: 0.5;
}
.Subscribe-button:active{
  opacity: 0.3;
}

.join-button{

  background-color: rgb(255, 255, 255);
  color: rgb(81, 97, 204);
  border-color: rgb(82, 82, 201);
  border-style: solid;
  border-width: 1px;
  height: 32px;
  width: 60px;
  border-radius: 2px;
  margin-left: 8px;
  cursor: pointer;  
  transition: background-color 0.15s,color 0.15s;
}

.join-button:hover{
  background-color: rgb(81, 97, 204);
  color:  rgb(255, 255, 255);
}

.join-button:active{
  opacity: 0.3;
}

.Tweet-button{

  background-color: rgb(32, 121, 238);
  color: rgb(255, 255, 255);
  border-color: rgb(82, 82, 201);
  border-style: solid;
  border-width: 1px;
  height: 32px;
  width: 60px;
  border-radius: 16px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer;  
}
.Tweet-button:hover{
  opacity: 0.5;
}
  
  
  .Tweet-button:active{
    opacity: 0.1;
  }
  

.Uber-button{
  
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2px;
  height: 45px;
  width: 70px;
  border-radius: 0px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer; 
}

.Uber-button:hover{
  background-color: rgb(199, 199, 237);
  color: darkred;
  opacity: 0.5;
}
  
  .Uber-button:active{
    opacity: 0.1;
  }

.Netflix-button{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 8);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2px;
  height: 45px;
  width: 85px;
  border-radius: 0px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer; 
}

.Netflix-button:hover{
  background-color: rgb(199, 199, 237);
  color: darkred;
  opacity: 0.5;
}
  
  .Netflix-button:active{
    opacity: 0.1;
  }



.ZOOM-button{
  background-color: rgb(32, 121, 238);
  color: rgb(255, 255, 255);
  border-color: rgb(82, 82, 201);
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 1px;
  border-radius:0px;
  font-weight: bold;
  margin-left: 8px;
  cursor: pointer;
}

.ZOOM-button:hover{
  background-color: rgb(199, 199, 237);
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
  
  .ZOOM-button:active{
    opacity: 0.1;
  }
